@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Roboto:wght@300&display=swap');

.navbar-kr {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.logo {
    background: url('../assets/KR\ -\ Logo-06.png');
    height: 3rem;
    width: 3rem;
    background-size: cover;
    cursor: pointer;
    margin: 1rem;
}

.logo:hover {
    opacity: 0.7
}

.links-container {
    display: flex;
    justify-content: center;
}

.link {
    margin: 1rem 1.75rem;
    color: white;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

.link:hover {
    opacity: 0.7;
}