.navbar {
    background-color: transparent !important;
}

h4.logo-name {
    color: white;
    margin-left: 1rem;
}

.logo-name {
    margin-bottom: 0px;
}

a.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    color: white !important;
}

a.nav-link:hover {
    opacity: 0.7;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.logo {
    background: url('../assets/KR\ -\ Logo-06.png');
    height: 2rem;
    width: 2rem;
    background-size: cover;
    cursor: pointer;
}
  
.logo-container:hover {
    opacity: 0.7;
    cursor: pointer;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
}

:focus {
    outline: none !important;
}

@media (min-width: 992px) {

    .navbar-expand-lg .navbar-nav {
        width: 100%;
        justify-content: flex-end;
    }

    a.nav-link {
        padding: 0rem 0rem;
    }

}