.App {
  background: #12203C;
  height: 100vh;
}

.navbar {
  background: green !important;
}

.navbar-brand {
  /* color: white !important; */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo

.logo {
  background: url('./assets/KR\ -\ Logo-06.png');
  height: 2rem;
  width: 2rem;
  background-size: cover;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.7;
}

/* .navbar {
  height: 100px;
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;
}

.navbar-brand {
  height: 3em;
  width: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand > img:hover {
  opacity: 0.6;
}

.navbar-brand > img {
  height: 100%;
  cursor: pointer;
} */