.App {
  background: #12203C;
  height: 100vh;
}

/* .navbar {
  height: 100px;
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;
}

.navbar-brand {
  height: 3em;
  width: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand > img:hover {
  opacity: 0.6;
}

.navbar-brand > img {
  height: 100%;
  cursor: pointer;
} */